/* Start Global Settings */

:root {
  --first-color: #001a65;
  --first-alt-color: #0049ab;
  --sec-color: #ff8601;
  --third-color: #7cb0ff;
  --fourth-color: #daebff;
  --font-main: "Cairo", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

*,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-main);
  direction: rtl;
  overflow-x: hidden;
}

body::-webkit-scrollbar,
.mainbg::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

body::-webkit-scrollbar-thumb,
.mainbg::-webkit-scrollbar-thumb {
  background: var(--sec-color);
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--first-color);
}

a:hover {
  color: var(--first-alt-color);
}

.row {
  margin: 0;
}

/* End Global Settings */

/* Start Header Settings */

header {
  display: flex;
  justify-content: center;
  position: relative;
}

.navbar {
  position: absolute;
  top: 20px;
  width: 88%;
  z-index: 9;
  background-color: transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

header ul li a {
  font-size: 16px;
  font-weight: 800;
  display: inline-block;
  color: #eee !important;
  margin-left: 15px;
}

header ul li a.active,
header ul li a:hover {
  transition: 0.5s ease-in-out;
  color: var(--sec-color) !important;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.headerBtn {
  padding: 5px 10px;
  background-color: #eee;
  color: var(--sec-color);
  border: none;
  outline: none;
  font-weight: 700;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.headerBtn:hover {
  background-color: transparent;
  border: 3px solid var(--sec-color);
  color: #eee;
}

.navbar-toggler {
  font-size: 2rem;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler svg {
  color: var(--sec-color);
}

.navbar-toggler svg:focus {
  outline: none !important;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {
  background-color: var(--first-alt-color);
  margin-top: -50px;
  position: relative;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 15px 20px;
}

/* End Header Settings */

/* Start Hero Settings */

#Hero {
  background: var(--first-color);
  background-image: url(./images/pattern.png);
  background-blend-mode: exclusion;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  min-height: 100vh;
  z-index: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.blobContainer {
  position: absolute;
  width: 65%;
  left: -20%;
  bottom: -40%;
  filter: drop-shadow(5px 5px 20px rgb(0, 0, 49));
  -webkit-filter: drop-shadow(5px 5px 20px rgb(0, 0, 49));
}

.hero-img {
  width: 60%;
  position: absolute;
  left: 2%;
  bottom: -2%;
}

@media (max-width: 1224px) {
  .blobContainer {
    width: 70%;
    left: -20%;
    bottom: -30%;
  }

  .hero-img {
    width: 80%;
    left: -7%;
    bottom: -5%;
  }
}

@media (max-width: 740px) {
  .blobContainer {
    width: 85%;
    left: -28%;
    bottom: -30%;
  }

  .hero-img {
    width: 90%;
    left: -5%;
    bottom: -8%;
  }
}

@media (max-width: 550px) {
  .blobContainer {
    width: 91%;
    left: -20%;
    bottom: -18%;
  }

  .hero-img {
    width: 100%;
    left: -9%;
    bottom: -2%;
  }
}

.subTxt {
  font-size: 50px;
  font-weight: 700;
}

.mainTxt {
  font-size: 80px;
  font-weight: 900;
}

.heroBtn {
  background-color: var(--sec-color);
  border: none;
  outline: none;
  color: #eee;
  padding: 8px 15px;
  border-radius: 4px;
  margin-top: 40px;
  font-size: 23px;
  font-weight: 700;
  margin-left: 3px;
  position: relative;
  z-index: 2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.heroBtn:hover {
  animation: shake 3s infinite;
  -webkit-animation: shake 0.5s infinite;
  background-color: #ff9928;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  50% {
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
  }

  100% {
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
  }
}

@media (max-width: 425px) {
  .subTxt {
    font-size: 40px;
  }

  .mainTxt {
    font-size: 60px;
  }

  .heroBtn {
    padding: 8px 15px;
    font-size: 18px;
  }

  .heroBtn:hover {
    animation: none;
    -webkit-animation: none;
  }
}

/* End Hero Settings */

/* Start About Settings */
#About {
  min-height: 110vh;
  background-color: #001a67;
  box-shadow: 1px 9px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 50px 10px;
}

.photo {
  width: 450px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* overflow: hidden; */
  z-index: 1;
  box-shadow: 1px 9px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
  #About {
    padding: 50px 0px;
  }

  .photo {
    width: 350px;
  }
}

@media (max-width: 475px) {
  .aboutContent > h1 {
    text-align: center;
    width: 100% !important;
  }
}

.dotsOne {
  top: -80px;
  right: -80px;
  z-index: -1;
}

.dotsTwo {
  bottom: -80px;
  left: -80px;
  z-index: -1;
}

.aboutContent {
  background-color: #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 6px solid var(--sec-color);
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: relative;
  z-index: 3;
}

.aboutContent > h1 {
  color: var(--sec-color);
  font-weight: 800;
  border-bottom: 5px solid var(--sec-color);
  padding: 8px;
  width: fit-content;
}

.aboutContent > h2 {
  color: var(--first-color);
  font-weight: 700;
  margin: 45px 0px 25px;
}

.aboutContent > ul {
  padding-right: 30px;
}

.aboutContent > ul li {
  color: var(--first-alt-color);
  font-weight: 700;
  list-style: disc;
}

/* End About Settings */

/* Start Videos Section */

#Videos {
  min-height: 100vh;
  background-color: #eee;
  padding: 50px;
}

.videosTitle {
  color: var(--sec-color);
  font-weight: 800;
  z-index: 2;
}

@media (max-width: 400px) {
  .videosTitle {
    font-size: 18px;
  }

  .kodakOne,
  .kodakTwo {
    top: -32px !important;
    margin: -4px;
  }
}

.kodakOne,
.kodakTwo {
  position: absolute;
  width: 90px;
  z-index: 0;
}

.kodakOne {
  left: -80px;
  top: -25px;
  transform: rotate(9deg);
  -webkit-transform: rotate(9deg);
  -moz-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  -o-transform: rotate(9deg);
}

.kodakTwo {
  right: -80px;
  top: -25px;
  transform: rotateY(180deg) rotateZ(9deg);
  -webkit-transform: rotateY(180deg) rotateZ(9deg);
  -moz-transform: rotateY(180deg) rotateZ(9deg);
  -ms-transform: rotateY(180deg) rotateZ(9deg);
  -o-transform: rotateY(180deg) rotateZ(9deg);
}

.videoCard {
  position: relative;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: translateZ(0);
}

.videoCard:is(:hover, :focus-visible) .videoImg {
  transform: rotate(-10deg) scale(1.3);
  -webkit-transform: rotate(-10deg) scale(1.3);
  -moz-transform: rotate(-10deg) scale(1.3);
  -ms-transform: rotate(-10deg) scale(1.3);
  -o-transform: rotate(-10deg) scale(1.3);
}

.videoCard > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.playButton {
  background-color: var(--first-alt-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -23%;
  left: 12%;
  color: #eee;
  padding-left: 3px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  cursor: pointer;
}

@media (max-width: 850px) {
  .playButton {
    bottom: 24%;
  }
}

.videoCard:hover .playButton {
  bottom: 24%;
}

.videoTxt {
  bottom: 0;
  width: 100%;
  height: 38%;
  padding: 10px 15px;
  line-height: 15px;
  color: #eee;
  background-color: #004aab73;
  backdrop-filter: blur(32px);
}

.videoTxt > h3 {
  color: var(--sec-color);
  font-weight: 700;
  font-size: 17px;
}

.videoTxt > p {
  color: #eee;
  font-size: 12px;
}

/* End Videos Section */

/* Start Contact Section */
#Contact {
  background-color: var(--first-color);
  background-image: url(./images/contact.png);
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: contain;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0px 100px;
  overflow: hidden;
}

.card {
  width: max-content;
  padding: 70px 80px;
  border: 6px solid var(--sec-color);
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card h2 {
  color: var(--first-color);
  font-size: 40px;
  font-weight: 700;
}

.card form,
.card input {
  width: 100%;
  caret-color: var(--first-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card input,
.card textarea {
  background-color: var(--third-color);
  outline: none;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px;
  resize: none;
}

.card .contact-btn {
  background-color: var(--sec-color);
  font-weight: 700;
  color: #eee;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.card .contact-btn:hover {
  background-color: var(--first-alt-color);
}

@media (max-width: 585px) {
  #Contact {
    padding: 0px 50px;
  }

  .card {
    padding: 30px 40px;
  }

  .card h2 {
    color: var(--first-color);
    font-size: 30px;
    font-weight: 700;
  }
}

@media (max-width: 480px) {
  #Contact {
    padding: 0px 20px;
  }

  .card {
    padding: 20px 30px;
  }

  .card h2 {
    color: var(--first-color);
    font-size: 25px;
    font-weight: 700;
  }
}

/* End Contact Section */

/* Start Footer Settings */

#footer {
  font-family: var(--font);
  background: var(--first-color);
  padding: 0 0 30px 0;
}

#footer .footer-bottom {
  color: #101010;
  background-color: var(--sec-color);
  padding-bottom: 28px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .copyright {
  font-size: 15px;
}

#footer .copyright a {
  color: var(--first-color);
}

/* End footer Settings */
